<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Digital challenges? I can help.</h2>
        <hr class="light">
        <p class="text-faded">Websites, platforms, and internet thingies. I like to build them so you don't have to. Security, performance, and usability cornerstones of software bulit by me. What will we build next?</p>
        <a href="#" class="btn btn-default btn-xl">Let's talk!</a>
      </div>
    </div>
  </div>
</section>
