<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-xs-12 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Large-Scale, Server-Side Mapping in Drupal
              </div>
              <div class="project-name">
                Voluteers in Service to America (VISTA)
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Wordpress Minimalism
              </div>
              <div class="project-name">
                PairShaped
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Drupal Contribution
              </div>
              <div class="project-name">
                Module Development
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Drupal Contribution
              </div>
              <div class="project-name">
                Module Development
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
