<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Technical Architecture</h3>
          <p class="text-muted">Application requirements gathering, cost estimation, design, and architecture. Technical direction for small teams.</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Custom Development</h3>
          <p class="text-muted">Content management and publishing workflows with Drupal, Wordpress, and other open-source frameworks.</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Workflow Automation</h3>
          <p class="text-muted">Server administration, automated deployment &amp; test, continuous integration/delivery, and general devops consulting.</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-tachometer wow bounceIn text-primary" data-wow-delay=".4s"></i>
          <h3>Reliability &amp; Performance</h3>
          <p class="text-muted">Performance optimization, security audit & hardening, uptime monitoring all to help keep your users engaged.</p>
        </div>
      </div>
    </div>
  </div>
</section>
