.navbar-default .navbar-header .navbar-brand {
  font-weight: normal;
  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

#about {
  padding: 100px 40px;
  border-top: 1px solid #656565;
  border-bottom: 1px solid #333;
}
#about, #resume {
  background-image: url("/img/css/60-lines.png");
}

#portfolio {
  background-image: url("/img/css/escheresque-dark.png");
}
